<!DOCTYPE html>
<html>
<head>
  <title>Tienda Liftit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to 'Dashboard Tienda Liftit', admin_path %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Suscriptores', admin_show_subscribers_path %></li>
        <li><%= link_to 'Nuevo Premio', new_admin_prize_path  %></li>
        <li><%= link_to 'Editar cuenta', edit_admin_registration_path  %></li>
        <li><%= link_to 'Salir', destroy_admin_session_path, method: :delete %></li>
      </ul>
  </div>
</nav>

<div class="container">
  <% flash.each do |msg_type, msg| %>
    <%= content_tag :div, msg, class: 'alert alert-info' %>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
